@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <nav>
            <a href="">Home</a>
        </nav>
    </div>
    <div class="main">
        @Body
    </div>
</div>
